<pre>
<code>
MOP COMPLETED for {{ form.changeID.data }}

 ####################

####MOP BEGIN####

Device(s):

{% for device in form.devices.data -%}
     {{ device.deviceName }} {{ device.deviceIP }}
{% endfor %}
Communication:**
   ** pre Change communication info **

PreCheck:**

########## Execution Steps ##########
s0 goto {{ form.devices[0].data.deviceName }}
config t

{% for objgrp in form.objvpngroups.data -%}
object-group network {{ objgrp.objName }}
{% for obj in objgrp.objectList -%}
 network-object {{ obj.objectIP }} {{ obj.objectMask }}
{% endfor %}
{% endfor %}

access-list {{ form.vpnName.data }}_encrypt extended permit ip object-group {{ form.objvpngroups[0].objName.data }} object-group {{ form.objvpngroups[1].objName.data }}

tunnel-group {{ form.peerIP.data }} type ipsec-l2l
tunnel-group {{ form.peerIP.data }} ipsec-attributes
pre-shared-key {{ form.p1PSK.data }}

crypto isakmp policy ** NEXTNUM **
 authentication pre-share
 encryption {{ form.p1Crypt.data }}
 hash {{ form.p1Hash.data }}
 group {{ form.p1DHgroup.data }}
 lifetime {{ form.p1lifetime.data }}
 
  -transform set configuration example:
     crypto ipsec transform-set ESP-AES256-SHA1 esp-aes-256 esp-sha-hmac

crypto map ** MAP NAME / NUMBER ** match address {{ form.vpnName.data }}
crypto map ** MAP NAME / NUMBER ** set peer {{ form.peerIP.data }}
crypto map ** MAP NAME / NUMBER ** set transform-set {{ form.p2transform.data }}
crypto map ** MAP NAME / NUMBER ** set lifetime {{ form.p2lifetime.data }}

{% for rule in form.aclrules.data -%}
access-list {{ rule.ruleName }} extended permit {{ rule.protocol }} object-group {{ rule.source }} object-group {{ rule.destination }} eq {{ rule.port }}
{% endfor %}

{% if form.noNat.data %}
nat (**inside**,**outside**) source static {{form.objvpngroups[0].objName.data}} {{form.objvpngroups[0].objName.data}} destination static {{form.objvpngroups[1].objName.data}} {{form.objvpngroups[1].objName.data}}
{% endif %}

end
wr mem
exit
########## MOP END ##########
crypto map ** MAP NAME / NUMBER ** match address {{ form.vpnName.data }}
crypto map ** MAP NAME / NUMBER ** set peer {{ form.peerIP.data }}
crypto map ** MAP NAME / NUMBER ** set transform-set {{ form.p2transform.data }}
crypto map ** MAP NAME / NUMBER ** set lifetime {{ form.p2lifetime.data }}
Communication:**
    {{ customer_email }} {{ customer_phone }}

========== Contingency/Backout Plan ==========
s0 goto {{ device_name_pri }}
config t

{% for acl in acls -%}
no access-list {{ acl['acl_name'] }} extended {{acl['action'] }} {{ acl['protocol'] }} {{ acl['source'] }} {{ acl['destination'] }} eq {{ acl['port'] }}
{% endfor %}

no crypto map ** MAP NAME / NUMBER ** match address {{ form.vpnName.data }}
no crypto map ** MAP NAME / NUMBER ** set peer {{ form.peerIP.data }}
no crypto map ** MAP NAME / NUMBER ** set transform-set {{ form.p2transform.data }}
no crypto map ** MAP NAME / NUMBER ** set lifetime {{ form.p2lifetime.data }}

no crypto isakmp policy ** NEXTNUM **


no tunnel-group {{ form.peerIP.data }} ipsec-attributes
no tunnel-group {{ form.peerIP.data }}

{% if form.noNat.data %}
no nat (**inside**,**outside**) source static {{form.objvpngroups[0].objName.data}} {{form.objvpngroups[0].objName.data}} destination static {{form.objvpngroups[1].objName.data}} {{form.objvpngroups[1].objName.data}}
{% endif %}

{% for objgrp in form.objvpngroups.data -%}
no object-group network {{ objgrp.objName }}
{% endfor %}

end
wr mem
exit

========== Created by MOPR {{ form.timestamp.data }}